{% extends 'store/base.html' %}
{% load static %}
{% block content %}
{% load filters %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Our Products</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products and Sidebar Area Starts ***** -->
<div style="display: flex" class="col-lg-12">

    <!-- Sidebar: -->
    <div class="col-lg-3">
        <section class="sidebar">
            <div class="border-bottom pb-2 ml-3">
                <h4>Filters</h4>
            </div>
            <form action="{% url 'store:filter' %}" method="get">
                <div class="py-2 border-bottom ml-3">
                    <h6 class="font-weight-bold">Categories</h6>
                    <div><span class="fa fa-minus"></span></div>
                        <ul>
                            {% for categ in view.get_category %}
                                <li><input type="checkbox" style="margin-right: 5px;" name="category" value="{{ categ.pk }}"><label>{{ categ }}</label>
                            {% endfor %}
                        </ul>                     
                </div>
                <div class="py-2 border-bottom ml-3">
                    <h6 class="font-weight-bold">Types</h6>
                    <div><span class="fa fa-minus"></span></div>
                    <ul>
                        {% for type in view.get_type %}
                            <li><input type="checkbox" style="margin-right: 5px;" name="type" value="{{ type.id }}"><label>{{ type }}</label>
                        {% endfor %}
                    </ul>
                </div>
                <div class="py-2 ml-3">
                    <h6 class="font-weight-bold">Sizes</h6>
                    <div id="orange"><span class="fa fa-minus"></span></div>
                    <ul>
                        {% for size in view.get_size %}
                            <li><input type="checkbox" style="margin-right: 5px;" name="size" value="{{ size.id }}"><label>{{ size }}</label>
                        {% endfor %}
                    </ul>
                </div>
                <input class="main-add-button" type="submit" value="Filter" style="width: 100%;">
            </form>
        </section>
    </div>
    <!-- Sidebar ends -->

    <!-- Main products: -->
    <section class="section col-lg-8" id="products" style="align-self: right!important; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if products %}
                    {% for product in products %}
                        <!-- one option for linking to product page: -->
                        <div class="col-lg-4" style="cursor: pointer;"  onclick=window.location="{% url "store:product" product.id %}">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <!-- second option: -->
                                            <li><a href="{% url "store:product" product.id %}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{ product.product_images.first.image.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{ product.name }}</h4>
                                    <span>{{ product.price }}</span>
                                    <ul class="stars">
                                        {% if product.rating %}                                   
                                            {% for _ in product.rating|times %}
                                                        <i class="fa fa-star"></i>
                                            {% endfor %}
                                            
                                            {% for _ in product.rating|rest %}
                                                <i class="fa fa-star-o empty"></i>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <h5 style="width: 100%; text-align: center;">No Products Found.</h5>
                {% endif %}
                
                <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        {% if page_obj.has_previous %}
                            <li> 
                                <a href="?page=1">&laquo;</a>
                            </li>
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}
                
                        <li class="active">
                            <a class="active">{{ page_obj.number }}</a>
                        </li>
                
                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>
    <!-- ***** Products End ***** -->
{% endblock %}