{% extends 'store/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Single Product Page</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="carousel slide" data-ride="carousel" id="carousel-1">
                        <div class="carousel-inner" role="listbox">

                            {% for img in product.productimage_set.all %}
                                <!-- class 'active' is necessary for the carousel to work. IF we're on the 
                                first iteration, the check adds 'active' to the class. -->
                                <div class="carousel-item {% if forloop.first %} active {% endif %}"><img class="img-thumbnail w-100 d-block" src="{{ img.image.url }}" alt="Slide Image" loading="lazy"></div>
                            {% endfor %}

                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>    
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                            <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                    </div>
            </div>
            <div class="col-lg-7">
                <div class="right-content">
                    <h4>{{ product.name }}</h4>
                    <span class="price">${{ product.price }}</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <p style='margin-left: 5px; display: inline'>Rating {{ product.rating }} | {{ product.comments }} Comments</p>
                    </ul>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                    </div>

                    <form action="{% url 'store:order' %}" method="GET">
                        <div class="quantity-content" >
                            <div class="left-content">
                                <h6>No. of Orders</h6>
                            </div>
                            <div class="right-content" style="width: 150px;">
                                    {{order_form.quantity}}
                                </div>
                            </div>
                        </div>
                        <div class="size-content">
                            <div class="left-content">
                                <h4>Size:
                                    {% for choice in order_form.size %}
                                    <button type="button" class="size-btn">{{ choice }}</button>
                                    {% endfor %} 
                                </h4>
                            </div>
                        </div>

                        <div class="total">
                            <h4>Total: $210.00</h4>
                                <input class="main-add-button" type="submit" value="Add To Cart">
                        </div>
                    </form>

                    {% if order_form.errors %}
                    {% for field in order_form %}
                        {% for error in field.errors %} 
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->

    

    <!-- Description, Details & Reviews start here: -->
    
    <div class="container card d-flex justify-content-center mt-5" style="border: 0px">
        <h2 style='text-align:center'># FIX reviews</h2>
        <ul class="nav" id="pills-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Description</a> </li>
            <li class="nav-item"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Operators</a> </li>
            <li class="nav-item"> <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</a> </li>
        </ul> <!-- content -->
        <div class="tab-content" id="pills-tabContent p-3">
            <!-- 1st card -->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <p style="padding: 15px">
                    {{ product.description }}
                </p>
            </div> <!-- 2nd card -->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p style="padding: 15px">
                    Lorem Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    , eos et dolor in, sed do eiusmod tempor incididunt ut lab et dolor. Lorem Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    , eos et dolor in, sed do eiusmod tempor incididunt ut lab etLorem Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    , eos et dolor in, sed do eiusLorem Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    , eos et dolor in, sed do eiusmod tempor incididunt ut lab et dolor. Lore m.
                </p>
            </div> 
            <!-- 3nd card -->
            <div class="tab-pane fade third" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                
                <!-- Оценки: -->
                <div class="row">
                    <div class="col-md-3">
                        <div id="rating">
                            <div id="rating">
                                avg: XXX 
                                for star in star: 
                                star
                                star
                                star
                            </div>
                            <ul class="rating">
                                <i class="fa fa-star"></i>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="reviews">
                            <ul class="reviews">
                                <li>
                                    <div class="review-heading">
                                        <h5 class="name">John</h5>
                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                        <div class="review-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o empty"></i>
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                    </div>
                                </li>
                                
                                ...
                            </ul>

                            <h4>PAGINATE HERE!</h4>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div id="review-form">
                            <form class="review-form">
                                {{ comment_form|crispy }}
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    
    <!-- Description, Details & Reviews end here: -->

    <!-- custom 'Similar products carousel' -->
    
    <div class="container prod-carous">
       
        <h4 class="gen-t">Similar Products</h4>
        <h2 style="text-align: center;">FIX </h2>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="thumb">
                        <img src="assets/images/men-01.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>Classic Spring</h4>
                        <span>$120.00</span>
                        <span class="inline-stars">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                    </span>
                    </div>
                </div>
                <div class="item">
                    <div class="thumb">
                        <img src="assets/images/men-02.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>Air Force 1 X</h4>
                        <span>$90.00</span>
                        <span class="inline-stars">
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </span>
                    </div>
                </div>
        </div>
            
        </div>
    </div>
    <!-- custom 'Similar products carousel' ends here -->
    
    
    <!-- Call carousel: -->
        <script type="text/javascript">            
            $(document).ready(function() {
                ('.owl-carousel').owlCarousel();                
            });
        </script>

  </body>

</html>
{% endblock %}