<style>
.btn {
    margin-right: 0.5rem !important
}

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem
}

.container {
    margin-top: 100px
}

</style>

<div class="page-content page-container" id="page-content" required>
    <div class="padding" required>
        <div class="row container d-flex justify-content-center" required> <button type="button" class="btn btn-primary btn-icon-text"required> <i class="fa fa-check btn-icon-prepend"></i> Submit </button> <button type="button" class="btn btn-dark btn-icon-text"> Edit <i class="fa fa-pencil btn-icon-append"></i> </button> <button type="button" class="btn btn-success btn-icon-text"> <i class="fa fa-warning btn-icon-prepend"></i> Warning </button> <button type="button" class="btn btn-outline-primary btn-icon-text"> <i class="fa fa-check btn-icon-prepend"></i> Submit </button> <button type="button" class="btn btn-outline-secondary btn-icon-text"> Edit <i class="fa fa-pencil btn-icon-append"></i> </button> <button type="button" class="btn btn-outline-success btn-icon-text"> <i class="fa fa-warning btn-icon-prepend"></i> Warning </button> </div>
    </div>
</div>