{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form class="custom-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form.media }}
    <div style="display: inline-block; width: 100%;">
        <input class='btn btn-outline-success btn-lg btn-block' type="submit" value="Update">
        <a class='btn btn-outline-danger btn-lg btn-block' href="{% url 'blog:delete_post' post.pk %}">Delete Post</a>
    </div>
</form>
{% endblock %}