{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block content %}

<div style="padding-top: 25vh; margin-bottom: 35vh; width: 70%; margin: auto;">
    <form action="{% url "accounts:login" %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class='btn btn-outline-success btn-lg btn-block' value="Log In">
    </form>
    <p style='text-align:center; margin-top: 15px'>Don't have an account? <a style="margin-top: 5vh" href="{% url "accounts:registration" %}">Register Here.</a></p>
</div>


{% endblock %}